/* These rules apply to the high rez display and close down to the medium and low rex displays*/

body {margin: 0; font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;}
/* Nav Bar */
header { width: 100%; height: 100px; background: slategray; padding: 5px 0; display: flex; justify-content: flex-end; align-items: center; }
#logo img { width: 200px; padding-top: 6px; float: left; margin-left: 10px; }
.container { width: 940px; height: 100%; margin: 0 auto; }
nav { float: right; margin-top: 32px; display: flex; justify-content: space-between; align-items: center; flex-direction: column; }
nav li { display: inline-block; margin-right: 30px; font-weight: bold; font-size: 100%; list-style: none; flex: 3;} 
nav li a { color: black; text-decoration: none; flex: 1; text-align: center;}
nav li a:hover { color: white; }
@media only screen and (min-width: 768px) {
    nav { flex-direction: row; }
  }
/* Carousel Slider */
.slider { overflow: hidden; height: 600px; }
.slider figure div { float: left; width: 20%; }
.slider figure img { width: 100%; float: left; height: 600px; }
.slider figure { position: relative; width: 500%; margin: 0px; left: 0; animation: 99s ravi infinite ease-in-out; }
@keyframes ravi { 
    0%{ left: 0%; } 
    50%{ left: -100%;}
    98%{ left: -200%; } }
/* About Us Section */
section.aboutus { width: 100%; height: 400px; padding: 5px 0; margin: 0 auto; }
section.aboutus h1 { font-size: 200%; text-align: center; margin: 20px  auto; text-decoration: underline; }
section.aboutus aside img { width: 400px; height: 300px; float: right; margin-bottom: -30px; margin-top: 20px; margin-right: 50px; }
.aboutuscontent { width: 390px; padding-top: 5px; color: black; float: left; }
.aboutuscontent p { margin-bottom: 60%; float: left; font-size: 16px; margin-left: 50px;}
/* Why Us Section */
section.whyus { width: 100%; height: 370px; padding: 5px 0; margin: 0 auto; }
section.whyus h1 { font-size: 200%; text-align: center; margin: 15px auto; text-decoration: underline; margin-right: 350px;}
.whyuscontent { width: 390px; padding-top: 5px; color: black; float: right; }
.whyuscontent p { margin-bottom: 60%; float: right; font-size: 16px; margin-top: 60px; }
section.whyus aside img { width: 400px; height: 300px; float: left; margin-bottom: -30px; margin-top: -110px; }
/* Qualify Section */
section.qualify { width: 100%; height: 400px; padding: 10px; }
section.qualify h1 { text-align: center; text-decoration: underline; font-size: 200%; margin: 20px; }
.qualifycontent { color: black; padding-top: 5px; float: left; width: 450px; margin-left: 20px; }
.qualifycontent h2 { font: bold; text-decoration: underline; }
.qualifycontent li { margin-left: -15px; }
section.noeviction { width: 100%; height: 400px; margin-top: -50px; }
.noevictioncontent { color: black; padding-top: 5px; float: right; width: 450px; margin-top: -280px; margin-right: 150px; }
.noevictioncontent h2 { font: bold; text-decoration: underline; margin-right: 100px; padding-top: - 150px;}
.noevictioncontent li { margin-right: 120px; }
/* Services */
section.evictionservices { height: 400px; padding: 20px;  margin: 0 auto; }
section.evictionservices h1 { font-size: 200%; text-align: center; text-decoration: underline; }
.services { width: 800px; padding-top: 15px; }
.services h3 { font-style: italic; } 
/* Process */
section.process img { align-items: center; }
/* Contact Us */
section.contactus img { width: 300px; height: 350px; margin-top: -20px;}
section.contactus h1 { text-decoration: underline; margin-left: 430px; margin-top: 60px;}
label { display: block; width: 200px; float: left; text-align: right; margin: 10px 5px; clear: left; margin-left: 250px; }
input, select, textarea { margin: 10px 5px; vertical-align: middle; }
#submit { vertical-align: middle; align-items: center; }
#notice  { float: right; margin-right: 350px; }