body {margin: 0; font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;}
/* Nav Bar */
header { width: 100%; background: slategray; padding: 5px 0; display: flex; justify-content: flex-end; align-items: center; }
#logo img { width: 200px; padding-top: 6px; float: left; margin-left: 10px; }
.container { width: 940px; height: 100%; margin: 0 auto; }
nav { float: right; margin-top: 32px; display: flex; justify-content: space-between; align-items: center; flex-direction: column; }
nav li { display: inline-block; margin-right: 30px; font-weight: bold; font-size: 100%; list-style: none; flex: 3; } 
nav li a { color: black; text-decoration: none; flex: 1; text-align: center;}
nav li a:hover { color: white; }
/* Carousel Slider */
.slider { overflow: hidden; height: 550px; }
.slider figure div { float: left; width: 20%; }
.slider figure img { width: 100%; float: left; height: 600px; }
.slider figure { position: relative; width: 500%; margin: 0px; left: 0; animation: 99s ravi infinite ease-in-out; }
@keyframes ravi { 
    0%{ left: 0%; } 
    50%{ left: -100%;}
    98%{ left: -200%; } }
/* About Us Section */
.container1 { display: flex; align-items: center; justify-content: center; background-color: lightgray;}
img { max-width: 100%; }
.image { flex-basis: 100%; order: 2; }
.text { padding-left: 20px; float: left;}
h1 { text-align: center; text-decoration: underline; }
/* Why Us Section */
.container1 { display: flex; align-items: center; justify-content: center; background-color: lightgray;}
.image2 { flex-basis: 70%; order: 1}
.text { padding-left: 20px; float: left;}
h1 { text-align: center; text-decoration: underline; }
/* Qualify Section */
.container1 { display: flex; align-items: center; justify-content: center; background-color: lightgray;}
.qualifycontent { flex-basis: 70%; order: 1; padding-left: 70px; }
.qualifycontent h2 { text-decoration: underline; }
.noevictioncontent { flex-basis: 70%; order: 2; margin-top: -60px; }
.noevictioncontent h2 { text-decoration: underline; }
/* Eviction Services Page  */
section.evictionservices { height: 550px; padding: 20px;  margin: 0 auto; }
section.evictionservices h1 { font-size: 200%; text-align: center; text-decoration: underline; }
.services { width: 1000px; padding-top: 15px; margin-bottom: 50px;}
.services img { width: 350px; height: 450px; margin-top: 5px; margin-bottom: 40px; float: right; margin-left: 20px; }
.services h3 { font-style: italic; }
/* Eviction Process Page */
section.process img { align-items: center; }
/* Contact Us Page */
section.contactus { margin-top: 40px; }
section.contactus img { width: 300px; height: 350px; margin-top: 5px; margin-bottom: 40px;}
section.contactus h1 { text-decoration: underline; margin-left: 430px; margin-top: 60px;}
form { display: inline-block; margin-left: 40px;}
label { display: block; width: 200px; float: left; text-align: right; margin: 10px 5px; clear: left; margin-left: 250px; }
input, select, textarea { margin: 10px 5px; vertical-align: middle; align-items: center; }
#submit { vertical-align: center; align-items: center; margin-left: 460px;}
#notice  { float: right; margin-right: 350px; }
/* Footer */
footer { width: 100%; height: 80px; background: slategray; padding: 20px 0; display: flex; justify-content: flex-end; text-align: center; }