/* These rules apply to the high rez display and close down to the medium and low rex displays*/

body { margin: 0; font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;}

header { width: 100%; height: 100px; background: slategray; padding: 5px 0; }

#logo img { width: 200px; padding-top: 6px; float: left; margin-left: 10px; }
.container { width: 940px; height: 100%; margin: 0 auto; }

nav { float: right; margin-top: 32px; }

nav li { display: inline; margin-right: 30px; font-weight: bold; font-size: 100%; }

nav li a { color: black; text-decoration: none; }